body {
    font-family: "Euclid Circular A", "Poppins";
    margin: 0 auto;
    padding: 0;
    background-color: white;
    max-width: 1500px;
}

/* Resonsive Nav Bar */ 
nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background: #eaeaea;
    transition: 0.3s;
    
  }
  
  nav.visible {
    top: 0;
    translate: 0;   
    transform: translateY(0);
    
  }

  nav > .logo-title {
    display: flex;
    align-items: center;
  }
  
  nav > .logo-title > h1 {
    margin: 0;
    font-size: 1.8em;
    color: rgb(67, 15, 24);
    text-align: left;
    display: inline;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 50px; 
    
  }
  
  .nav-items > a {
    text-decoration: none;
    font-weight: 800;
    color: rgb(67, 15, 24);
    height: 72px;
    display: grid;
    place-items: center;
    transition: border-bottom 0.2s; 
    
  }
  
  .nav-items > a:hover {
    border-bottom: 6px solid rgb(67, 15, 24); 
  }

  /* */ 

/* Background Image */ 
.background-image {
    position: relative;
    margin-top: 72px;
}

.image {
    width: 100%;
    height: 500px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 50%;
    transform: translate(-50%, -50%);
    
    padding: 20px;
    
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(5px);

    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    align-items: center;
    text-align: center;
}

.overlay h2 {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
    text-underline-offset: 25px;
    text-decoration-thickness: 3px;
}

.overlay h3 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Section Layouts */ 

section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 100px 60px;
  }

section > img {
    width: auto;
    height: 300px;
    border-radius: 10px;
  }

section.shaded {
    background: #eaeaea;
}

section > div > h3 {
    font-size: clamp(16px, 2vw, 30px);
}

p {
    font-size: clamp(14px, 1.5vw, 24px);
}

/* Section Navigation Buttons */ 
.nav-button {
    display: inline-block;
    background-color: rgb(67, 15, 24);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    width: 150px;
    font-size: clamp(14px, 1.3vw, 24px);
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: gray;
    transform: translateY(-3px);
}

/* Footer Layout */ 
.site-footer {
  position: relative;
  background-color: #f4f4f4; 
  padding: 30px 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.footer-social::after {
  content: ""; /* This is crucial, as it 'turns on' the pseudo-element */
  display: block;
  height: 3px;
  width: 50%;
  background-color: gray;
  position: absolute;
  transform: translateY(60px);
}

.social-links {
  display: flex; 
  align-items: center;

}

.social-logos {
  width: 30px; 
  height: auto;
}



.manager-login {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.manager-login::after {
  content: ""; /* This is crucial, as it 'turns on' the pseudo-element */
  display: block;
  height: 3px;
  width: 50%;
  background-color: gray;
  position: absolute;
  transform: translateY(60px);
}

.manager-login-link {
  text-decoration: none;
  font-weight: 800;
  color: rgb(67, 15, 24);
  transition: border-bottom 0.2s; 
}

.manager-login-link:hover {
  border-bottom: 6px solid rgb(67, 15, 24); 
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}